<div class="added-books-content">
    <span class="added-books-text" data-l10n-id="yourNewBooks">Vos {{total}} nouveaux livres :</span>

    <div class="added-books-covers">
    {{#each books}}
        <a href="#/book/{{this.hash}}">
        {{#if this.coverUrl}}
            <img src="{{this.coverUrl}}" alt="{{this.title}}"/>
        {{else}}
            <i class="icon-bookcase"></i>
        {{/if}}
        </a>
    {{/each}}
    </div>
</div>