<div class="added-books-content">
    <span class="added-books-text" data-l10n-id="downloadingBooksTitle">Getting for you {{total}} books:</span>

    <div class="downloading-books-progresses">
        <div class="downloading-books-progress">
            <span data-l10n-id="downloadProgress">We download it first</span>
            <progress value="{{downloaded}}" max="{{total}}"></progress>
        </div>
        <div class="downloading-books-progress">
            <span data-l10n-id="importProgress">Then we add it to the bookcase</span>
            <progress value="{{imported}}" max="{{total}}"></progress>
        </div>
    </div>
</div>