{{#if chapterCurrent}}
<span class="ebook-pagination-chapters">
    Chapitre {{chapterCurrent}}/{{chapterTotal}} :
    {{#if lastPage}}
        dernière page
    {{else}}
        il reste {{pageLeft}} page{{#unless onePageLeft}}s{{/unless}}
    {{/if}}
</span>
<span class="ebook-pagination-pages">
{{#unless monoPage}}
    <span class="ebook-pagination-page-destination"></span>
    <progress value="{{pageCurrent}}" max="{{pageTotal}}"></progress>
{{/unless}}
</span>
{{else}}
    <span class="ebook-pagination-title">{{title}}</span>
{{/if}}
