{{#if chapterCurrent}}
<span class="ebook-pagination-chapters">
    <i class="fa fa-list"></i>{{chapterCurrent}}/{{chapterTotal}}
</span>
<span class="ebook-pagination-pages">
    <progress value="{{pageCurrent}}" max="{{pageTotal}}"></progress>
</span>
{{else}}
    <span class="ebook-pagination-title">{{title}}</span>
{{/if}}