{{#if chapterCurrent}}
<span class="ebook-pagination-chapters">
    <span data-l10n-id="chapter">Chapter</span> {{chapterCurrent}}/{{chapterTotal}} :
    <span data-l10n-id="pagesLeft">3 pages left</span>
</span>
<span class="ebook-pagination-pages">
{{#unless monoPage}}
    <span class="ebook-pagination-page-destination"></span>
    <progress value="{{pageCurrent}}" max="{{pageTotal}}"></progress>
{{/unless}}
</span>
{{else}}
    <span class="ebook-pagination-title">{{title}}</span>
{{/if}}
